.c_fff {color:#fff;}
.c_fff445 {color:#fff445;}
.c_fd5600 {color:#fd5600;}
.b_fd1605 {background:#fd1605;}
.mt10 {margin-top: 0.3125rem;}
.mt18 {margin-top: 0.5625rem;}
.mt20 {margin-top: 0.625rem;}
.mt24 {margin-top: 0.75rem;}
.mt28 {margin-top: 0.875rem;}
.mt34 {margin-top: 1.0625rem;}
.mt36 {margin-top: 1.125rem;}
.mt38 {margin-top: 1.1875rem;}
.mt48 {margin-top: 1.5rem;}
.mt50 {margin-top: 1.5625rem;}
.mt60 {margin-top: 1.875rem;}
.mt72 {margin-top: 2.25rem;}
.mt110 {margin-top: 3.4375rem;}
.mt336 {margin-top: 10.5rem;}
.mt370 {margin-top: 11.5625rem;}
.mt196 {margin-top: 6.125rem;}
.mb32 {margin-bottom: 1.0rem;}
.mb36 {margin-bottom: 1.125rem;}
.ml30 {margin-left: 0.9375rem;}
.pl32{padding-left: 1.0rem;}
.pr32{padding-right: 1.0rem;}
.f20 {font-size: 0.625rem;}
.f42 {font-size: 1.3125rem;}

/*.m-wrapper {background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_bg.jpg) no-repeat;background-size: 100% 100%;min-height:41.65625rem;height:auto;width:100%;}*/
/*.m-top {background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_topbg.png) no-repeat; background-size: 100% 8.28125rem;width:100%;height:8.28125rem;text-align: center;}*/
.m-fans {width:100%; height:22.625rem;background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_bright.png) no-repeat; background-size: 100% 22.625rem;position:absolute;top:5rem;left:0;}
.m-con {width:100%; text-align: center;}
.m-home span {display:inline-block;}
.m-gain {position:relative; margin-top: 0.3125rem; width:19.65625rem;height:8.3125rem; background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_msg.png) no-repeat; background-size: 19.65625rem 8.3125rem;}
.m-des {font-size: 1.0625rem; color:#fff;}
.m-money {width:8.4375rem; height:7.5rem; margin-top: 0.3125rem; background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_money.png) no-repeat; background-size: 8.4375rem 7.5rem; display:block;}
.m-verify {width:100%; padding:0 1.9375rem; box-sizing: border-box;}
.m-verify input {float:left; background:#fff;/* height:3.5rem; */line-height: 1.4rem; padding:1.05rem 0 1.05rem 1.75rem;  border-radius: 0.3125rem;box-sizing: border-box; font-size: 0.875rem;}
.m-verify input.whole{width:100%;}
.m-verify input.prev{width:56%;}
.m-base {position:relative;}
.m-base span {position:absolute; right:-1.0625rem; top:-6.25rem; width:6.53125rem; height:6.25rem; background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_person.png) no-repeat; background-size: 6.53125rem 6.25rem;}
.m-bn {position:relative;}
.m-bn a {width:10.875rem; height:2.75rem; line-height: 2.5rem; background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_icon.png) no-repeat; background-size: 10.875rem 6.5rem; display:inline-block;font-size: 0.875rem;}
.m-bn a.gainbn {background-position: 0 0; }
.m-bn a.seebn {background-position: 0 -3.75rem;}
.m-frid {font-size: 0.625rem; color:#fff445; margin-top: 1.125rem;text-align: center;}
.m-foot {font-size: 0.625rem; color:#ffe19f; margin-top: 2.4375rem;text-align: center;}
.imgkap{float:right;width:42%; height:3.5rem; border-radius: 0.3125rem;}
.m-verify input.next {float:right;width:42%;padding:0;height:3.5rem; line-height: 3.5rem; color:#f85e38; background:#fff445;}
.m-gain1 {margin-top: 3.3125rem; display:block;width:11.4375rem; height:2.75rem; background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_suc.png) no-repeat; background-size: 11.4375rem 2.75rem; margin-left: auto; margin-right: auto;}
.m-bn .packets {display:block;width:10.0rem; height:9.5rem; background:url(https://alicdn.jinhui365.com/activity/redPacket/images/new_sucper.png) no-repeat 0.4rem center; background-size: 10.0rem 9.5rem;margin:0 auto;}
.xs_error {float:left;width:100%; font-size: 0.625rem;color:#fff;text-align: left;padding-left: 1.75rem; box-sizing: border-box;height:1.5rem; line-height: 1.5rem;}
.m-reg {display:none;}



/*.m-cont-tiped {margin: 0 1.5rem;position:relative;}*/
/*.m-cont-msgm {position: relative; padding:0 1.875rem 0 1.875rem; background: #ff4d2b; border-radius: 1.25rem; font-size: 0.625rem; text-align: center; color: #fff; float:left;width:100%;box-sizing:border-box}*/
/*#wrapper{height:15rem;position:relative;width:100%;overflow:auto;}*/
/*.control-height{position:absolute;padding:0 0.3rem;}*/
/*.m-cont-tiped .close{display: inline-block;position: absolute; top: -1rem; right: -1rem; width: 2.25625rem; height: 2.15625rem; background: url(https://alicdn.jinhui365.com/res/cms/activity/newmedal/images/del.png) no-repeat;background-size: 100% 100%; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);z-index: 10;}*/
/*.m-cont-rule .rule {padding:1.25rem 0;height:1.25rem;line-height: 1.25rem; border-bottom: 1px solid #fff; font-size: 1.0625rem;}*/
/*.m-cont-rule p {text-align: left; font-size: 0.625rem; line-height: 1.25rem;}*/

/*.medal_gg {position:fixed; top:1.6875rem; right:1.25rem; width:13.96875rem; height:11.0625rem;z-index: 10;}*/
/*.medal_bg1 img {display:inline-block; width:100%;}*/
